*.~
*.user
~.old
build/
.idea/
.vscode

*.pyc
pydrilling.egg-info

# EDT files
*.edt
*.ply
edtplane*


*resources/volumes/
hdf5_files
*.hdf5
*.avi
*.bag
*.old

*.autosave

*.blend1

./segmentations
segmentations-4.10.2023.zip
segmentations/
reference-images-4-5/

# THIS FILE HAS PROTECTED INFORMATION
./scripts/data_analysis/config.json
